@import "./abstracts/variables";
@import "./abstracts/mixins";

.about-container {
    width: 100vw;
    height: min-content;
    overflow-y: hidden;
    padding-top: 20px;
    margin-bottom: 100px;

    .about-title-container {
        border-top: 4px dotted $border-color;
        border-right: 4px dotted $border-color;
        border-bottom: 4px dotted $border-color;
        // @include backgroundgradient();
        box-shadow: 0px 0px 20px 0px $border-color;
        width: min-content;
        height: min-content;
        text-align: center;
        margin-top: 20px;

        h2 {
            font-size: 3rem;
            padding: 5px;
            margin-left: 40px;
            margin-right: 10px;
        }
    }
    .about-caption-container {
        h3 {
            font-size: 1.3rem;
            margin-left: 40px;
            margin-top: 10px;
            color: $secondary-color;
        }
    }
    .about-text-container {
        text-align: center;
        margin-top: 30px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: start;

        p {
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 30px;

            span {
                color: $secondary-color;
                font-weight: 700;
            }
        }
    }
    .btn-container {
        width: 80%;
        margin: 0 auto;
        div {
            width: min-content;
            height: min-content;
            padding: 20px;
            border: 2px solid $border-color;
            border-radius: 3px;
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;

            a {
                text-decoration: none;
            }
        }
        div:hover {
            background-color: $primary-color;
            transition: .2s;
            a {
                color: $secondary-color;
            }
        }
    }
}

@media (min-width: 376px) {
    .about-container {
        .about-text-container {
            margin-top: 70px;
        }
    }
}
@media (min-width: 769px) {
    .about-container {
        .about-title-container {
            h2 {
                font-size: 4rem;
            }
        }
        .about-caption-container {
            h3 {
                font-size: 2rem;
                margin-left: 100px;
                margin-top: 20px;
            }
        }
        .about-text-container {
            p {
                font-size: 1.3rem;
            }
        }
    }
}
@media (min-width: 1025px) {
    .about-container {
        .about-title-container {
            h2 {
                font-size: 5rem;
                margin-left: 200px;
            }
        }
        .about-caption-container {
            h3 {
                font-size: 2.3rem;
                margin-left: 130px;
            }
        }
        .about-text-container {
            p {
                font-size: 1.3rem;
            }
        }
        .btn-container {
            div {
                font-size: 1.8;
            }
        }
    }
}
@media (min-width: 1441px) {
    .about-container {
        .about-title-container {
            h2 {
                font-size: 7rem;
                margin-left: 220px;
            }
        }
        .about-text-container {
            width: 60%;
            p {
                font-size: 1.8rem;
                margin-bottom: 40px;
            }
        }
        .btn-container {
            width: 60%;

            div {
                font-size: 1.7rem;
                border: 4px dashed $border-color;
            }
        }
    }
}
@media (min-width: 2000px) {
    .about-container {
        .about-title-container {
            border-top: 10px dashed $border-color;
            border-right: 10px dashed $border-color;
            border-bottom: 10px dashed $border-color;
            h2 {
                font-size: 9rem;
                margin-left: 500px;
                margin-right: 60px;
            }
        }
        .about-text-container {
            margin-top: 150px;
            width: 50%;
            p {
                font-size: 3rem;
                margin-bottom: 80px;
            }
        }
        .btn-container {
            width: 50%;

            div {
                font-size: 2rem;
                padding: 50px;
                border: 5px dashed $border-color;
            }
        }
    }
}