@import "./abstracts/variables";


.initialSection-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 15vh;
    overflow-y: hidden;
}
.name-container {
    font-size: 1.6rem;
    display: flex;

    .name-front {
        position: absolute;
        top: 130px;
        transform: translate(50px, 110px);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        animation: text-front 2s 1 normal;
        z-index: 200;
    }
    .name-back {
        position: absolute;
        top: 190px;
        transform: translate(50px, 110px);
        animation: text-back 2s 1 normal, blur 10s 1 normal;
        opacity: 0;
        z-index: 0;
    }
    .lastname-front {
        z-index: 200;
        position: absolute;
        top: 190px;
        transform: translate(50px, 110px);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        animation: blur 10s 1 normal;
        animation-delay: -5s;
    }
    .lastname-back {
        z-index: 0;
        position: absolute;
        top: 190px;
        transform: translate(50px, 110px);
        animation: blur 10s 1 normal;
        animation-delay: -5s;
    }

    .cube {
        z-index: 100;
        width: 150px;
        height: 150px;
        border: 2px solid $primary-color;
        margin-top: 100px;
        background: linear-gradient(270deg, rgba(41,50,65,1) 0%, rgba(41,50,65,1) 30%, rgba(80,80,80,1) 100%);
        margin-left: 120px;
    }
}


.description-container {
    margin-top: 90px;
    font-size: 1.3rem;
    width: 225px;
    text-align: center;
    display: flex;
    flex-direction: column;

    .description-one {
        color: $secondary-color;
        width: 13ch;
        white-space: nowrap;
        border-right: 1px solid transparent;
        animation: typing 2s steps(13) normal, blick 2s step-end normal;
        overflow: hidden;
        margin: 0;
        font-weight: 700;
        z-index: 100;
        transform: translateX(-5px);
    }
    .description-two {
        color: $secondary-color;
        width: 9ch;
        white-space: nowrap;
        border-right: 1px solid transparent;
        animation: typingTwo 2s steps(9) normal, blickTwo 2s step-end normal;
        overflow: hidden;
        margin: 0 auto;
        font-weight: 700;
        z-index: 100;
    }
    .description-cube {
        width: 230px;
        height: 80px;
        border: 4px dotted #112035;
        box-shadow: 0px 0px 20px 0px $border-color;
        position: absolute;
        transform: translate(-10px, -10px);
        z-index: 0;
    }
}

.arrowDown { 
    width: 50px;
    height: 50px;
    position: absolute;
    top: 90vh;
    text-align: center;
    animation: arrowDown 2s infinite normal, blur 10s 1 normal;
    animation-delay: -5s;
    z-index: 100;
    img {
        width: 30px;
        filter: drop-shadow(0px 0px 4px $primary-color);
    }
}

@keyframes text-front {
    0% {transform: translate(50px, 140px);}
    30% {transform: translate(50px, 140px);}
    50% {transform: translate(50px, 144px);}
    85% {transform: translate(50px, 105px);}
}
@keyframes text-back {
    0% {transform: translate(50px, 80px);}
    30% {transform: translate(50px, 80px);}
    50% {transform: translate(50px, 76px);}
    85% {transform: translate(50px, 117px);}
}
@keyframes blur {
    0%, 20% {
        filter: blur(0px);
        opacity: 1;
    }
    40%, 80% {
        filter: blur(13px);
        opacity: 0;
    }
}

@keyframes typing {
    0% {width: 0; transform: translateX(10px);}
    100% {transform: translateX(5px);}
}
@keyframes typingTwo {
    0% {width: 0;}
    50% {width: 0;}
}
@keyframes blick {
    0% {border-color: $primary-color;}
}
@keyframes blickTwo {
    40% {border-color: $primary-color;}
}

@keyframes arrowDown {
    50% {transform: translateY(5px);}
}

@media (max-height: 700px) {
    .initialSection-container {
        .name-front {
            top: 100px;
        }
        .name-back {
            top: 160px;
        }
        .lastname-front {
            top: 160px;
        }
        .lastname-back {
            top: 160px;
        }
    }
}

@media (min-width: 769px) {
    .initialSection-container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-top: 0;
    }

    .name-container {
        font-size: 2.7rem;
        margin-left: 90px;

        .name-front {
            top: 110px;
            transform: translateX(-20px);
        }
        .name-back {
            top: 220px;
            transform: translateX(-20px);
        }
        .lastname-front {
            top: 220px;
            transform: translateX(-20px);
        }
        .lastname-back {
            top: 220px;
            transform: translateX(-20px);
        }
        .cube {
            width: 250px;
            height: 250px;
        }
    }

    
    .description-container {
        margin-top: 200px;
        font-size: 1.7rem;
        width: 300px;
        text-align: center;
    
        .description-cube {
            width: 300px;
            height: 100px;
        }
    }

    .arrowDown { 
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    @keyframes text-front {
        0% {transform: translate(-20px, 60px);}
        30% {transform: translate(-20px, 60px);}
        50% {transform: translate(-20px, 64px);}
        85% {transform: translate(-20px, -5px);}
    }
    @keyframes text-back {
        0% {transform: translate(-20px, -50px);}
        30% {transform: translate(-20px, -50px);}
        50% {transform: translate(-20px, -54px);}
        85% {transform: translate(-20px, 4px);}
    }
}

@media (min-width: 1025px) {
    .initialSection-container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .name-container {
        font-size: 4rem;

        .name-front {
            top: 120px;
            transform: translateX(-70px);
        }
        .name-back {
            top: 280px;
            transform: translateX(-70px);
        }
        .lastname-front {
            top: 280px;
            transform: translateX(-70px);
        }
        .lastname-back {
            top: 280px;
            transform: translateX(-70px);
        }
        .cube {
            width: 400px;
            height: 400px;
        }
    }

    
    .description-container {
        margin-top: 200px;
        font-size: 2.3rem;
        width: 380px;
        text-align: center;
        .description-cube {
            width: 400px;
            height: 130px;
        }
    }

    .arrowDown { 
        width: 100%;
    }

    @keyframes text-front {
        0% {transform: translate(-70px, 80px);}
        30% {transform: translate(-70px, 80px);}
        50% {transform: translate(-70px, 84px);}
        85% {transform: translate(-70px, -5px);}
    }
    @keyframes text-back {
        0% {transform: translate(-70px, -79.5px);}
        30% {transform: translate(-70px, -79.5px);}
        50% {transform: translate(-70px, -83.5px);}
        85% {transform: translate(-70px, 4px);}
    }
}

@media (min-width: 1441px) {
    .initialSection-container {
        padding-top: -100vh;
    }
    .name-container {
        font-size: 6rem;
        margin-top: 100px;

        .name-front {
            top: 220px;
            transform: translateX(-100px);
        }
        .name-back {
            top: 480px;
            transform: translateX(-102px);
        }
        .lastname-front {
            top: 480px;
            transform: translateX(-102px);
        }
        .lastname-back {
            top: 480px;
            transform: translateX(-102px);
        }
        .cube {
            width: 600px;
            height: 600px;
        }
    }

    
    .description-container {
        margin-top: 270px;
        font-size: 3rem;
        width: 500px;
        text-align: center;
    
        .description-cube {
            width: 520px;
            height: 170px;
        }
    }

    @keyframes text-front {
        0% {transform: translate(-102px, 130px);}
        30% {transform: translate(-102px, 130px);}
        50% {transform: translate(-102px, 138px);}
        85% {transform: translate(-102px, -5px);}
    }
    @keyframes text-back {
        0% {transform: translate(-102px, -130px);}
        30% {transform: translate(-102px, -130px);}
        50% {transform: translate(-102px, -138px);}
        85% {transform: translate(-102px, 4px);}
    }
}

@media (min-width: 2000px) {

    .name-container {
        font-size: 7rem;
        margin-top: 100px;

        .name-front {
            top: 220px;
            transform: translateX(-80px);
        }
        .name-back {
            top: 480px;
            transform: translateX(-82px);
        }
        .lastname-front {
            top: 480px;
            transform: translateX(-82px);
        }
        .lastname-back {
            top: 480px;
            transform: translateX(-82px);
        }
        .cube {
            margin-left: 250px;
            width: 700px;
            height: 700px;
        }
    }

    
    .description-container {
        margin-top: 400px;
        font-size: 4rem;
        width: 660px;
        text-align: center;
        .description-cube {
            border: 10px dashed #112035;
            width: 700px;
            height: 200px;
        }
    }

    @keyframes text-front {
        0% {transform: translate(-80px, 130px);}
        30% {transform: translate(-80px, 130px);}
        50% {transform: translate(-80px, 138px);}
        85% {transform: translate(-80px, -5px);}
    }
    @keyframes text-back {
        0% {transform: translate(-81px, -130px);}
        30% {transform: translate(-81px, -130px);}
        50% {transform: translate(-81px, -138px);}
        85% {transform: translate(-81px, 4px);}
    }
}