@import "./abstracts/variables";


.bar {
    width: 100vw;
    height: 50px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    .bar-icon {

        img {
            width: 40px;
            margin: 0 30px 0 10px;
        }
    }
    .bar-text {
        letter-spacing: 4px;
        font-size: 1rem;
    }
    
    .bar-icons-container {

        a {
            margin: 0 5px 0 5px;
        
            img {
                width: 25px;
                filter: invert(1);
            }
        }
    }
}


@media (min-width: 769px){
    .bar {
        width: 50px;
        height: 100vh;
        flex-direction: column;
        
        .bar-icon {
            margin: 10px 0 0 0;
        }
        .bar-text {
            transform: rotate(90deg);
            font-size: 1.1rem;
        }
        .bar-icons-container {
            a {
                img {
                    width: 30px;
                    margin: 10px 0}
            }
        }
    }
}
@media (min-width: 1100px){
    .bar {
        .bar-icon {
            img {
                width: 60px;
            }
        }
        .bar-text {
            font-size: 1.2rem;
            letter-spacing: 6px;
        }
        .bar-icons-container {
            a {
                img {
                    width: 30px;
                }
            }
        }
    }
}
@media (min-width: 2000px){
    .bar {
        width: 100px;
        .bar-text {
            font-size: 2.7rem;
            letter-spacing: 20px;
        }
        .bar-icon {
            img {
                width: 120px;
            }
        }
        .bar-icons-container {
            a {
                img {
                    width: 70px;
                }
            }
        }
    }
}


// .bar {
//     width: 50px;
//     height: 100vh;
//     position: fixed;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
    
//     .bar-icon {
//         width: 50px;
//         height: 50px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

//     .bar-text {
//         width: 200px;
//         height: 30px;
//         font-size: 1.3rem;
//         letter-spacing: 6px;
//         transform: rotate(90deg);
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
    
//     .bar-icons-container {
//         width: 50px;
//         height: auto;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;

//         img {
//             width: 30px;
//             margin: 10px 0 20px 0;
//             filter: invert(1);
//         }
//     }
// }