@import "./abstracts/variables";
@import "./abstracts/mixins";

.bar {
    width: 100vw;
    height: 50px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 300;

    .bar-icon {

        img {
            width: 40px;
            margin: 0 30px 0 10px;
        }
    }
    .bar-title-container {
        letter-spacing: 4px;
        font-size: 1.2rem;
        font-weight: 700;
        white-space: nowrap;
    }
    
    .bar-icons-container {
        
        a {
            margin: 0 15px 0 5px;
        
            img {
                width: 35px;
                filter: invert(1);
                cursor: pointer;
            }
            img:hover {
                transform: scale(1.06);
                filter: invert(.6);
                transition: all .3s ease;
            }
        }
    }
}

.animation-out {
    animation: animate-page-out .5s normal;
}
.animation-in {
    animation: animate-page-in .5s normal;
}

@media (min-width: 769px){
    .bar {
        width: 50px;
        height: 100vh;
        flex-direction: column;
        position: fixed;
        @include backgroundgradient(90deg, rgba(41,50,65,1) 0%, rgba(41,50,65,1) 10%, transparent 100%);
        
        .bar-icon {
            margin: 10px 0 0 0;
        }
        .bar-title-container {
            transform: rotate(90deg);
            font-size: 1.3rem;
            font-weight: 800;
        }
        .bar-icons-container {
            a {
                img {
                    width: 30px;
                    margin: 10px 0}
            }
        }
    }
    @keyframes animate-page-out {
        0% {letter-spacing: 4px;}
        100% {letter-spacing: -10px;}
    }
    @keyframes animate-page-in {
        0% {letter-spacing: -10px;}
        100% {letter-spacing: 4px;}
    }
}

@media (min-width: 1100px){
    .bar {
        width: 80px;
        .bar-icon {
            img {
                width: 60px;
                margin-left: 30px;
            }
        }
        .bar-title-container {
            font-size: 1.5rem;
            letter-spacing: 8px;
            font-weight: 900;
        }
        .bar-icons-container {
            a {
                margin-left: 20px;
                img {
                    width: 30px;
                }
            }
        }
    }
    @keyframes animate-page-out {
        0% {letter-spacing: 8px;}
        100% {letter-spacing: -10px;}
    }
    @keyframes animate-page-in {
        0% {letter-spacing: -10px;}
        100% {letter-spacing: 8px;}
    }
}
@media (min-width: 2000px){
    .bar {
        width: 100px;
        .bar-title-container {
            font-size: 2.7rem;
            letter-spacing: 20px;
            font-weight: bolder;
        }
        .bar-icon {
            img {
                width: 120px;
            }
        }
        .bar-icons-container {
            a {
                img {
                    width: 70px;
                }
            }
        }
    }
    @keyframes animate-page-out {
        0% {letter-spacing: 20px;}
        100% {letter-spacing: -10px;}
    }
    @keyframes animate-page-in {
        0% {letter-spacing: -10px;}
        100% {letter-spacing: 20px;}
    }
}



// .bar {
//     width: 50px;
//     height: 100vh;
//     position: fixed;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
    
//     .bar-icon {
//         width: 50px;
//         height: 50px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

//     .bar-text {
//         width: 200px;
//         height: 30px;
//         font-size: 1.3rem;
//         letter-spacing: 6px;
//         transform: rotate(90deg);
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
    
//     .bar-icons-container {
//         width: 50px;
//         height: auto;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;

//         img {
//             width: 30px;
//             margin: 10px 0 20px 0;
//             filter: invert(1);
//         }
//     }
// }